<h1 class="text-center">Have a meeting to schedule?</h1>
<h2 class="text-center">Cannot find a room to book?</h2>
<div class="text-center">
  <%= link_to "Click here to view all the rooms", rooms_path, class: "btn btn-primary btn-lg"%>
</div>
